.realtors {
    background-color: var(--color-secondary);
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        padding: 6rem;
    }

    &__list {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;

        @media screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(3, min-content max-content);
        }
    }

    &__image {
        width: 7rem;
        display: block;
        border-radius: 50%;
    }

    &__sold {
        text-transform: uppercase;
        color: var(--color-grey-light-2);
        margin-top: -3px;
    }
}